{% extends "admin/change_list.html" %}

{% block content %} 

{% load static %}

<script src="{% static 'js/jquery.min.js '%}"></script>
<script src="{% static 'js/Chart.bundle.js '%}"></script>

<script>

  var randomColorGenerator = function () {
    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
  };

  var url_title = 'http://127.0.0.1:8000/projects_status/chart_admin_title/';
  var url_userreq = 'http://127.0.0.1:8000/projects_status/chart_admin_userreq/';
  var url_dev = 'http://127.0.0.1:8000/projects_status/chart_admin_dev/';
  var url_sit = 'http://127.0.0.1:8000/projects_status/chart_admin_sit/';
  var url_uat = 'http://127.0.0.1:8000/projects_status/chart_admin_uat/';
  var url_imp = 'http://127.0.0.1:8000/projects_status/chart_admin_implementation/';

  $.when($.getJSON(url_title), $.getJSON(url_userreq), $.getJSON(url_dev), 
    $.getJSON(url_sit), $.getJSON(url_uat), $.getJSON(url_imp)

    ).done(function(data1, data2, data3, data4, data5, data6) {


      var project_title = $.map(data1[0], function(value, index) {
        return [value];
      });

      var user_req = $.map(data2[0], function(value, index) {
        return [value];
      });

      var dev = $.map(data3[0], function(value, index) {
        return [value];
      });

      var sit = $.map(data4[0], function(value, index) {
        return [value];
      });

      var uat = $.map(data5[0], function(value, index) {
        return [value];
      });

      var imp = $.map(data6[0], function(value, index) {
        return [value];
      });

      var ctx = document.getElementById("myChart");
      var data=data
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: project_title,
          datasets: [
          {
            label: "User Requirement",
            backgroundColor:randomColorGenerator(),
            data: user_req
          }, {
            label: "Development",
            backgroundColor:randomColorGenerator(),
            data: dev
          },
          {
            label: "sit",
            backgroundColor: randomColorGenerator(),
            data: sit
          },
          {
            label: "uat",
            backgroundColor: randomColorGenerator(),
            data: uat
          },
          {
            label: "Implementation",
            backgroundColor: randomColorGenerator(),
            data: imp
          },
          ]
        },
        options: {
         legend: {
          display: true,
          position: 'bottom',
          labels: {
            
          }
        },
        responsive: true,
        title: {
          display: true,
          text: 'Unfinished Project',
          fontSize:15
        },
        scales: {
          xAxes: [{
            ticks: {
              maxRotation: 90,
              minRotation: 0
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });


    });


  </script>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <style>
    h1{font-size:1rem;
    }

  </style>    
  <div class="row">

    <div class="col-sm-2">
      <canvas id="gender-chart" style=" width:50px !important;"></canvas>
    </div>
    <div class="col-sm-5">
      <canvas id="myChart" style=" width: 300px !important;"></canvas>
    </div>
    <div class="col-sm-2">
      <canvas id="grades-chart" style="width: 50px !important;"></canvas>
    </div>
  </div>
  
</br>
</br>

{{ block.super }}

{% endblock %}

{% block footer %}

{% endblock %}
